body {
  padding: 10px;
  font-family: sans-serif;
}

button.bigger, a.button.bigger {
  padding: 1em 1.5em;
}

.mt {
  margin-top: 20px;
}
.mb {
  margin-bottom: 20px;
}
.ml {
  margin-left: 20px;
}
.mr {
  margin-right: 20px;
}

.container {
  width: 100%;
  max-width: 800px;
  /* margin: 0 auto; */
}

.flex {
  display: flex;
  align-items: top;
  justify-content: space-between;
}
.flex.center {
  align-items: center;
}
.flex._center {
  justify-content: center;
}

.itemlist {
  display: block;
  list-style: none;
  li {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    &:last-child {
      border-bottom: none;
    }
    >* {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
    h4, h5, h6 {
      margin: 0;
    }
    .rowid {
      width: 20px;
    }
    .name-ref {
      width: 400px;
    }
  }
}
