body {
  padding: 10px;
  font-family: sans-serif;
}

.mt {
  margin-top: 20px;
}
.mb {
  margin-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex._center {
  justify-content: center;
}